html, body{
  margin: 0;
  padding: 0;
  background-color: #333333;
  height: 100%;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button, .subtitle-text {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: Arial, serif;
}

body{
  display: flex;
  flex-direction: column;
}

#viewport{
  background-color: #333333;
  flex-grow: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 630px;
}

#viewport #video{
  margin: 50px 0;
  max-width: 1000px;
  height: auto;
}

#viewport .subtitle-text{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
  transform-origin: bottom center;
}

#controllers{
  background-color: #1c1c1c;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75px;
}

#controllers button{
  height: 80%;
  min-width: 80px;
  margin: 0 10px;
  background-color: #2a2a2a;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#controllers button:hover{
  background-color: #363636;
}

#controllers button:active{
  background-color: #484848;
}

#timeline{
  background-color: #262626;
  flex-grow: 3;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

#timeline-range{
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
  cursor: pointer;
  width: 90%;
  height: 20px;
  background: #333333;
  border-radius: 20px;
  margin-bottom: 20px;
}

#timeline-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background-color: #1f1f1f;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

#timeline-range::-moz-range-thumb{
  -webkit-appearance: none;
  appearance: none;
  background-color: #1f1f1f;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

#timeline .text-track{
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: #3f3f3f;
  min-height: 30px;
  width: 100%;
  margin: 2px 0;
}

#timeline .text-track .text-track-id{
  width: 5%;
  min-height: 100%;
  background-color: #3f3f3f;
  border-right: 2px solid #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
  font-weight: 500;
  cursor: pointer;
}

#timeline .text-track .text-track-keyframe-area{
  width: 90%;
  min-height: 100%;
  margin: 2px 0;
  background-color: #2f2f2f;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .text-track .text-track-keyframe-area .text-track-keyframe-area-progress{
  position: absolute;
  max-width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: #c9d4e1;
  width: 0;
  left: 0;
  z-index: 9;
}

#timeline .text-track .text-track-keyframe-area .text-track-keyframe-area-point{
  position: absolute;
  max-width: 100%;
  height: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
  color: white;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
}

#timeline .text-track .text-track-keyframe-area .text-track-keyframe-area-point:hover::after{
  content: attr(hint);
  display: block;
  position: absolute;
  top: -30px; /* Adjust this value to move the tooltip above the object */
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  background: #181818;
  padding: 5px;
  z-index: 1;
}

.main-button{
  width: 200px;
  height: 30px;
  background-color: #2a2a2a;
  border-radius: 5px;
  position: absolute;
  color: white;
  font-weight: bold;
}

#add-text{
  top: 5px;
  left: 5px;
}

#choose-video{
  top: 40px;
  left: 5px;
}

#render-ass{
  top: 75px;
  left: 5px;
}

.main-button:hover{
  background-color: #363636;
}

.main-button:active{
  background-color: #484848;
}

#text-inspector{
  min-height: 300px;
  max-height: 600px;
  min-width: 200px;
  max-width: 300px;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: white;
  font-weight: 400;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

#text-inspector > *{
  flex-shrink: 0;
}

#text-inspector p{
  text-align: center;
}

#text-inspector input{
  margin-bottom: 5px;
}

#text-inspector #delete-button{
  background-color: #a22929;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

#text-inspector #close-button{
  background-color: #3d3d3d;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

#text-inspector #toggle-keyframe-button{
  background-color: #3d3d3d;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

#no-video{
  width: 1000px;
  aspect-ratio: 16/9;
  background-color: #696969;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-downloading{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.94);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 400;
}

#download-button{
  width: 400px;
  height: 60px;
  background-color: #2a2a2a;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  filter: drop-shadow(0 0 40px black);
}